<meta charset="UTF-8">
<title>Chamb - Responsive E-commerce HTML5 Template</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--enable mobile device-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--fontawesome css-->
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<!--bootstrap css-->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!--animate css-->
<link rel="stylesheet" href="/static/css/animate-wow.css">
<!--main css-->
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/css/slick.min.css">
<!--responsive css-->
<link rel="stylesheet" href="/static/css/responsive.css">